@Model 
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Shop";
    ViewData["ButtonName"] = "Add New Product";
    ViewData["Reads"] = "Views";
    ViewData["TableName"] = "Product Name";
}

@Html.Partial("_AdminSharedPartialUp")
@foreach (var product in Model)
{
    <tr>
        <td>@product.ID</td>
        <td>@product.ProductName</td>
        <td>@product.AddDate.ToString("yyyy-MM-dd")</td>
        <td class="project_progress">@product.Views</td>
        <td class="project-state">@product.Status</td>
        <td class="project-actions text-right">
            <a class="btn btn-primary btn-sm" href="@Url.Action("View", "Admin", new { id = product.ID })">
                <i class="fas fa-folder">
                </i>
                View
            </a>
            <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "Admin", new { id = product.ID })">
                <i class="fas fa-pencil-alt">
                </i>
                Edit
            </a>
            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Admin", new { id = product.ID })">
                <i class="fas fa-trash">
                </i>
                Delete
            </a>
        </td>
    </tr>
}
@Html.Partial("_AdminSharedPartialDown")